@page
@model HospiEnCasa.App.Frontend.Pages.VerEnfermeroModel
@{
}

<div class="row col-10 offset-4">
  <div class="card shadow p-3 mb-5 rounded" style="width:30rem">
    <img class="card-img-top img-thumbnail img-fluid" src="~/imagenes/Enfermero.png" alt="Card image">
    <div class="card-body">
      <h4 class="card-title mb-4"><b>Información del Enfermero</b></h4>
      <p class="card-text"><b>Nombre : </b> @Model.Enfermero.Nombre</p>
      <p class="card-text"><b>Apellidos : </b> @Model.Enfermero.Apellidos</p>
      <p class="card-text"><b>Género : </b> @Model.Enfermero.Genero</p>
      <p class="card-text"><b>Teléfono : </b> @Model.Enfermero.NumeroTelefono</p>
      <p class="card-text"><b>Tarjeta Profesional : </b> @Model.Enfermero.TarjetaProfesional</p>
      <p class="card-text"><b>Horas Laborales : </b> @Model.Enfermero.HorasLaborales</p>

      <a class="btn btn-outline-info" asp-page="ListadoEnfermeros">Regresar al Listado</a>
    </div>
  </div>
</div>